    <main class="main">
      <div class="inner">
        <div class="top">
        
        <h1 class="page-heading">#<%= @tag.name %></h1>

        <div class="card__wrapper">
         <% @spots.each do |spot| %>
          <div class="card" >
            <%= link_to spot_path(spot.id), method: :get  do%>
            <h2 class="card__title"><%= spot.title %></h2>
              <div class="card__body">
                <div class="card__body__left">
                  <%= image_tag spot.image.variant(gravity: :center, resize:"250x200^", crop:"250x200+0+0"), class: 'card__img' %>
                </div>
                <div class="card__body__right">
                  <div>
                   【user】/<%= spot.user.nickname %>
                  </div>
                  <div>
                   【area】/<%= spot.area.name %>
                  </div>
                  <div class="card__tag">
                    <div class="card__tag__title">#tag's</div>
                    <div class="card__tag__body">
                      <% spot.tags.each do |tag| %>
                      <br>#<%=link_to tag.name, tag_spots_path(tag_id: tag.id) ,class:"card_tag_list"%>
                      <%end%>
                    </div>
                  </div>
                 </div>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
                <% @tag_list.each do |list| %>
        <%= link_to list.name, tag_spots_path(tag_id: list.id)%>

        <%end%>

        <div class="inazuma">最初1234最後</div>
      </div>
    </main>