<main class="main">
  <div class="inner">
    <div class="top">
      
      <div class="show_title">

        <div class="show_title_left">
          <h1 class="page-heading"><%= @spot.title %></h1>
        </div>

        <div class="show_title_right">
        <% if user_signed_in? && current_user.id == @spot.user_id %>
          <a><%= link_to '編集', edit_spot_path(@spot.id), method: :get ,class:"show_btn" %></a>
          <a><%= link_to '削除', spot_path {@spot.id}, method: :delete,class:"show_btn" %></a>
        <% end %>
        </div>
        
      </div>

      <div class="show_main_first">
        <div class="show_main_first_left">
          <div class="main-image">
            <%= image_tag @spot.image.variant(resize: '600x600') %>
          </div>
          <div class="sub_image">
            複数の画像が入ります
          </div>
        </div>
        <div class="show_main_first_right">
          <div class="show_spot_name">
            <h3>【ユーザー】：<%= @spot.user.nickname %></h3>
            <h3>【エリア】：<%= @spot.area.name %></h3>
            <h3>【タグ】</h3>
          </div>
          <div class="tag_space">
            <% @spot.tags.each do |tag| %>
              #<%= tag.name %> 
            <% end %>
          </div>
        </div>
      </div>

      <div class="info_show">
        <h3>【詳細】</h3>
        <%= simple_format(@spot.text)%>
      </div>

      <div class="chat_show">
        <h3>【追加情報】</h3>
        <div class="chat_info">
          観光地の他の魅力やオススメスポットを皆で共有しましょう！！
        </div>
        <div class="message_show">
          <div id='messages'>
            <% @messages.reverse_each do |message| %>
            <p><%= message.text %></p>
            <% end %>
          </div>
        </div>
        <%# <div class="message_form"> %>
        <%= form_with model: [@spot, @message] do |f| %>
        <div class="message_form">
          <div class="form-input">
            <%= f.text_field :text ,class:"form-message"%>
          </div>
          <div class="form-btn">
            <%= f.submit '送信',class:"form-submit"  %>
          </div>
         </div>
        <% end %>
        <%# </div> %>
      </div>

    </div> 
  </div>
</main>