<main class="main">
  <div class="inner">
    <div class="top">
      <div class="device_body">

        <div class="device_body_left">
          TRIP  NAVIGATION<br>NEW USER<br>
          <div class="device_body_left_in"><%= link_to "LOG IN", new_user_session_path %></div>
        </div>

        <div class="device_body_right">
          <div class="text-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
        
            <div class="field">
              <%= f.label :ニックネーム %> <em>(6 characters maximum)</em><br />
              <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
            </div>
          
            <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          
            <div class="field">
              <%= f.label :パスワード %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          
            <div class="field">
              <%= f.label :パスワード（確認） %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
          

          <div class="device_btn">
             <%= f.submit "ユーザー新規登録" ,class:"button-device"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
