    <main class="main">
      <div class="inner">
        <div class="top">

        <div class="top_screen">
          <img src="/assets/tabinabitop.jpg" alt="清水寺" id="image-change1" class="top_img">
          <img src="/assets/tabinabitop2.jpg" alt="清水寺" id="image-change2" class="top_img">
          <img src="/assets/tabinabitop3.jpg" alt="清水寺" id="image-change3" class="top_img">
          <p class="top_name">旅nabi.</p>
        <div>

        <div class="info">
          <div class="info__sentens">
          旅行で行った観光地やお店、旅館などを共有するアプリです<br>
          旅行の思い出の場所をみんなで共有しましょう！<br>
          そして新しい旅先が見つかるかも....
          </div>
        </div>

        
        <h1 class="page-heading">観光地一覧</h1>
        <div class="card__wrapper">
         <% @spots.each do |spot| %>
          <div class="card">
            <%= link_to spot_path(spot.id), method: :get  do%>
              <div class="card__body">
                <h2 class="card__title"><%= spot.title %></h2>
                <%= image_tag spot.image.variant(resize: '500x500'), class: 'card__img' %>
                <p class="card__summary">
                  <%= spot.text %>
                  <% spot.tags.each do |tag| %>
                    #<%= tag.name %> 
                  <%end%>
                </p>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
        
        <div class="inazuma">最初1234最後</div>
      </div>
    </main>