<main class="main">
  <div class="inner">
    <div class="top">
      <div class="device_body">

        <div class="device_body_left">
          TRIP  NAVIGATION<br>LOG IN<br>
          <div class="device_body_left_in"><%= link_to "NEW USER", new_user_registration_path %></div>
        </div>

        <div class="device_body_right">
          <div class="text-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class='login-flash-message'>
               <%= flash[:notice] %>
               <%= flash[:alert] %>
            </div>
            
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>
          </div>

           <div class="device_btn">
            <%= f.submit "Log in",class:"button-device" %>
           </div>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
