<!DOCTYPE html>
<html>
  <head>
    <title>Tabinabi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="main-header">
          <a class="logo">旅nabi.</a>
          <a class="btn1">観光地登録</a>
          <a class="btn2">マイページ</a>
          <a class="btn2">ログアウト</a>
        </div>
      </div>
    </header>
    <div class="sub-header">
      <div class="inner">
      さぶ
      </div>
    </div>
    <%= yield %>
  </body>
</html>
