<!DOCTYPE html>
<html>
  <head>
    <title>Tabinabi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="main-header">
          <a class="logo">旅nabi.</a>
          <% if user_signed_in? %>
            <a class="btn1"><%= link_to "観光地登録", new_spot_path %></a>
            <a class="btn2"><%= link_to current_user.nickname, "/users/#{current_user.id}" %></a>
            <a class="btn2"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a>
          <% else %>
            <a class="btn1"><%= link_to "ログイン", new_user_session_path %></a>
            <a class="btn2"><%= link_to "ユーザー新規", new_user_registration_path %></a>
          <% end %>
        </div>
      </div>
    </header>
    <div class="sub-header">
      <div class="sub-inner">
      <div class="sub">TOP</div>
      <div class="sub">北海道・東北</div>
      <div class="sub">関東</div>
      <div class="sub">北陸</div>
      <div class="sub">東海</div>
      <div class="sub">近畿</div>
      <div class="sub">中国</div>
      <div class="sub">四国</div>
      <div class="sub">九州・沖縄</div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
